# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numbFloat = 2.3
print(numbFloat)
numbFloat =7.2
print(numbFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [9]:
numb1 = 2
numb2 = 5.4
result = numb1 + numb2
print(result)

result +=2
print(result)

7.4
9.4

##### Subtraction

In [15]:
result_diff = numb2 - numb1
print (result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [3]:
numb1 = 2
numb2 = 5.4
result_mul = numb1 * numb2
print(result_mul)
      
result_mul *= 1
print(result_mul)

10.8
10.8

##### Division

In [21]:
result_div = numb2 / numb1
print (result_div)

result_div /= 2
print (result_div)

2.7
1.35

##### Floor Division

In [23]:
result_floor = numb2 // numb1
print (result_floor)

result_floor //= 2
print (result_floor)

2.0
1.0

##### Modulo

In [25]:
result_mod = numb2 % numb1
print (result_mod)

result_mod %=2
print (result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [27]:
square = 5 ** 2
print(square)

25

### String Input-Output

##### String Assignment

In [31]:
name = "Eric"
print (name)

Eric

##### print() <br>
<p>Don't forget about end=' '</p>

In [35]:
print ("this is my first name", name)

print("full name:", name ,  end = " Jacobowitz")

this is my first name Eric
full name: Eric Jacobowitz

##### String Concatenation

In [40]:
first_name = "Eric"
last_name = "Jacobowitz"

full_name = first_name + " " + last_name
print (full_name)

full_name += ", Jr"
print (full_name)

Eric Jacobowitz
Eric Jacobowitz, Jr

##### Type Conversion

In [43]:
numb = "32"

change_type_num = int(numb)
print(numb  )

print (change_type_num +1)

33

##### input()

In [51]:
# inout will always return a string

name = input ("what is your name? ")
print("nice to meet you, " + name.title())

age = int(input("how old are you? "))
print(age)

what is your name? eric
nice to meet you, Eric
how old are you? 33
33

##### format()

In [54]:
age = input ("what is your age?")

result_string = "You are {} {} and you are getting wiser!" .format(age,name)
print(result_string)

result_again = f"{age}  is a great time in life!!!"
print(result_again)

what is your age?33
You are 33 eric and you are getting wiser!
33  is a great time in life!!!

##### Old Way (python 2)

In [55]:
result_string2 = "you are %s and you look great for your age!" %age
print (result_string2)

you are 33 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [71]:
make = input("who manufacturs the car you drive?")
# print(make)
model = input("how cool! what model " + make + " do you have?")
# print(make ,model)
color = input("what color is your " + make + "?")
# print(color, make, model)
year = input("what year is your " + make + "?")
print("YOU'LL never believe me but my dream car is a " + year , color.title(), make.title(), model.title() +" !" )

who manufacturs the car you drive?bmw
how cool! what model bmw do you have?x3
what color is your bmw?silveer
what year is your bmw?2007
YOU'LL never believe me but my dream car is a 2007 Silveer Bmw X3 !

### If Statements

In [75]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6

if num1 == 5:
    print("this is true")
else:
    print('that thing was not true! it is false!')

that thing was not true! it is false!

##### 'is' keyword

In [79]:
# The is keyword is for checking for the same object but not the same value

num3 = 55

if num3 == 55:
    print ("this is the exact number")

this is the exact number

##### 'in' keyword

In [80]:
char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("the ring bearer")

the ring bearer

##### 'not in' keyword'

In [83]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is not here")

a in not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [89]:
name = input("what is your name?")

if 'p' not in name:
    print ("there is no 'p' in your name!," + name.title())
else:
    print("there is a 'p' in your name, " + name.title())

what is your name?penelope
there is a 'p' in your name, Penelope

## Using 'and'/'or' with If Statements

In [91]:
numb11 = 15
numb12 = 3
numb13 = 10
numb14 = 3

# if  with 'and' statement
if numb11 / 5 == numb12 and numb13 -7 ==numb14:
    print("true and true")
    
#     if with 'or' statement
if numb11 > numb12 or numb13 == numb14:
    print('true and false')

true and true
true and false

### Elif Statements

In [94]:
first_name = input("what is your name?")
if first_name == 'smith':
    print('the name is Smith.')
elif first_name == 'brandon':
    print('the name is brandon')
elif first_name != 'Max':
    print('the name is not Max')
else:
    print('the name is Max')

what is your name?gerald
the name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [95]:
# syntax:
# for counter in condition

name = 'Brandon Apol'
for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [101]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop
# stops everything!

In [102]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [110]:
for i in name:
    pass

##### Double For Loops

In [111]:
for i in range(5):
    for j in range(5):
        print('i = ',i, 'j= ',j)

i =  0 j=  0
i =  0 j=  1
i =  0 j=  2
i =  0 j=  3
i =  0 j=  4
i =  1 j=  0
i =  1 j=  1
i =  1 j=  2
i =  1 j=  3
i =  1 j=  4
i =  2 j=  0
i =  2 j=  1
i =  2 j=  2
i =  2 j=  3
i =  2 j=  4
i =  3 j=  0
i =  3 j=  1
i =  3 j=  2
i =  3 j=  3
i =  3 j=  4
i =  4 j=  0
i =  4 j=  1
i =  4 j=  2
i =  4 j=  3
i =  4 j=  4

### While Loops

In [113]:
# syntax:
# while keyword, condition statement

num = 0 

while num <10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [125]:
game_over = True

while game_over:
   print('infinate Loop')
   user_input = input("would you like to stop? ")
   if user_input  == 'Yes':
       game_over = False

infinate Loop
would you like to stop? h
infinate Loop
would you like to stop? j
infinate Loop
would you like to stop? h
infinate Loop
would you like to stop? yes
infinate Loop
would you like to stop? Yes

##### While & For Loops Used Together

In [128]:
num = 0

while num < 5:
    print("\n While loop interation: " +str(num))
    
    for i in range(2):
        print("For loop interation: ", str(i))
        
    num += 1

 While loop interation: 0
For loop interation:  0
For loop interation:  1

 While loop interation: 1
For loop interation:  0
For loop interation:  1

 While loop interation: 2
For loop interation:  0
For loop interation:  1

 While loop interation: 3
For loop interation:  0
For loop interation:  1

 While loop interation: 4
For loop interation:  0
For loop interation:  1

### Built-In Functions

##### range()

In [133]:
# range(start,stop,step)

for i in range(1,20,3):
    print (i)

1
4
7
10
13
16
19

##### len()

In [136]:
name = input('give me a title of a book')

length = len(name)
print(length)

give me a title of a bookharry potter
12

##### help()

In [138]:
# use this function to view more info about python  functions
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [143]:
# check a variable to find out what object family or data type it belongs to
# isinstance(var, type)

num = 4
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4 is an int

##### abs()

In [144]:
# \-5\ = 5

print (abs(-5))

5

### Try and Except

In [146]:
# use this to log out graceful and useful error messages
# does not stop the program! neato!


try:
    input_num = int(input("guess a number"))
    print("your number is " + str(input_num))
except: print("that didnt work! change your input to a number!")

guess a numberapple
that didnt work! change your input to a number!

### Lists

##### Declaring Lists

In [40]:
list_1 = []

names = ['Max','Cindy','Kathy','Bob','Nate']

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [12]:
# list_name[start: stop: step]
print(names[0])

# print starting at index 1 going to end
print(names[1:])

# print starting at the beginning of the list until a number
print (names[:2])

# print starting at index 1 and going up by 2 in each iteration

print(names[1::2])

# print starting at back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

# .append()

In [41]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [43]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [45]:
# Defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [48]:
# Value to be removed rather than index
# names.remove('Bob')
# print(names)

while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Nate']

##### del()

In [49]:
# goes by index rather than value
# be careful with del, can casue indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Nate']

##### Concatenating Two Lists

In [53]:
# will appnend two lists together, will NOT add the values!

list_2 = [0,1,2]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold ANY type of other element! including other lists!
# they can go as deep as you want; this is called nested lists 

names = ['Max','Sam','Josh',['Sally','Sue','Tameka']]
print(names)
print(names[3])

##### Looping Through Lists

In [55]:
# Two ways to loop through a list! One is by index the other is by using the 'in' keyword
# by Index
for i in range(len(names)):
    print(names[i])
    
# loop with in

for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [87]:
i = 0
while i in range(1001):
    i += 1
    cubed=i**3
    if cubed >= 1001:
        break
    print (cubed)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2,101):
    for num in range(2,i):
        if (i % num) == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [96]:
age = int(input("How old are you?: "))
# print (age)

if age < 18:
    print("You're just a kid!")
elif age <=65:
    print("Are you tired of being an adult, yet?")
else:
    print("You're old!")

How old are you?: 18
Are you tired of being an adult, yet?